.container {
    height: 100vh;
    width: 100%;
    background-color: #444444;
    display: flex;
    .login_form {
        max-width: 545px;
        min-width: 545px;
        height: fit-content;
        margin: auto;
        min-height: 400px;
        background-color: white;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        display: flex;
        .content {
            width: 70%;
            margin: auto;
            .header {}
            h1 {
                font-family: 'Open Sans';
                font-weight: 100;
                font-size: 30px;
            }
            input[type=submit] {
                width: 154px;
                background-color: #87bd3c;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
            }
            .form_group {
                margin-bottom: 30px;
                label {
                    font-family: 'Open Sans';
                    font-weight: 100;
                    font-size: 16px;
                }
                input[type=text],
                input[type=password] {
                    width: 100%;
                    padding: 8px 20px;
                    margin: 4px 0;
                    border: 1px solid #707070;
                    box-sizing: border-box;
                }
            }
        }
    }
}