.container {
    height: 100vh;
    .login_form {
        max-width: 545px;
        margin: auto;
        min-height: 400px;
        background-color: white;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        border-radius: 37px;
        .content {
            width: 70%;
            margin: 0 auto;
            .header {
                margin: 37px 0px;
            }
            h1 {
                font-family: 'Open Sans';
                font-weight: 100;
                font-size: 30px;
            }
            input[type=submit] {
                width: 154px;
                background-color: rgba(255, 89, 90, 1);
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            .form_group {
                margin-bottom: 30px;
                label {
                    font-family: 'Open Sans';
                    font-weight: 100;
                    font-size: 16px;
                }
                input[type=text],
                input[type=password] {
                    width: 100%;
                    padding: 8px 20px;
                    margin: 4px 0;
                    border: 2px solid rgba(255, 89, 90, 1);
                    border-radius: 4px;
                    box-sizing: border-box;
                }
            }
        }
    }
}
