<div class="login_view">
    <div class="container">
        <div class="container">
            <div class="login_form">
                <div class="content">
                    <h3 error text-align-center *ngIf="error">{{error}}</h3>
                    <form [formGroup]="loginForm">
                        <div class="form_group">
                            <i class="material-icons">user</i>
                            <input type="text" formControlName="username" id="Username" name="Username" placeholder="">
                            <span error *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                                Username: Это обязательное поле
                            </span>
                        </div>
                        <div class="form_group">
                            <input type="password" id="password" formControlName="password" name="lastname" placeholder="">
                            <span error *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                                Password: Это обязательное поле
                            </span>
                        </div>
                        <div class="button" width-fit margin-auto>
                            <input type="submit" [disabled]="loginForm.invalid" [ngClass]="{'valid':loginForm.valid,'inValid':loginForm.invalid}"
                                value="LOGIN" (click)="onClickLogin()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>