<div class="orders_list_item">
    <div class="content">
        <div class="order_image" [ngStyle]="{'background-image':'url('+localImage+')'}"></div>
        <div class="order_info">
            <p class="name">{{orderInfo?.company?.companyname}}</p>
            <p class="description">{{orderInfo?.createdAt | date:'short'}}</p>
            <p class="description">
                {{orderInfo?.comment}}
            </p>
        </div>
        <div class="order_price">
            <p class="price">{{orderInfo?.totalAmount}} ₽</p>
        </div>
        <div class="more_info_button">
            <input type="submit" value="{{'More' | translate}}" (click)="onClickMore()">
        </div>
    </div>
</div>