.topbar_content {
    background-color: #444444;
    height: 70px;
    .container {
        width: 85%;
        margin: 0 auto;
        height: 100%;
        .logo {
            img {
                width: 130px;
                height: 60px;
            }
        }
        .user_info {
            position: relative;
            .image {
                width: 36px;
                height: 36px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            .user_profile {
                margin-left: 10px;
                font-size: 15px;
                i {
                    margin-left: 10px;
                    cursor: pointer;
                }
                .more_info {
                    position: absolute;
                    width: 130px;
                    height: 150px;
                    background-color: red;
                    top: 50px;
                    right: 10px;
                }
            }
        }
    }
}