.topbar_content {
    background-color: #444444;
    height: 70px;
    .container {
        width: 85%;
        margin: 0 auto;
        height: 100%;
        .logo {
            img {
                width: 130px;
                height: 60px;
            }
        }
        .user_info {
            position: relative;
            .image {
                width: 36px;
                height: 36px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            .user_profile {
                margin-left: 10px;
                font-size: 15px;
                .more_icon {
                    margin-left: 10px;
                    cursor: pointer;
                }
                .more_info {
                    position: absolute;
                    background-color: #444444;
                    width: 200px;
                    height: 155px;
                    z-index: 1;
                    top: 50px;
                    right: 10px;
                    .item {
                        padding: 10px 0;
                        span {
                            margin-left: 10px;
                            font-size: 20px;
                            color: white;
                        }
                        i {
                            margin-right: 10px;
                            color: white;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: white;
                            transition: background-color 0.5s;
                            span {
                                color: #444444;
                                transition: color 0.5s;
                            }
                            i {
                                color: #444444;
                            }
                        }
                    }
                }
            }
        }
    }
}