<div class="topbar_content">
    <div class="container" display-flex align-items-center justify-content-space-beetwen>
        <div class="logo" cursor-pointer>
            <img src="/assets/images/LOGO.png" />
        </div>
        <div class="user_info" display-flex align-items-center>
            <div class="image">
            </div>
            <div class="user_profile" display-flex align-items-center>
                <span>Valod Valodyan</span>
                <i class="material-icons" (click)="onClickMoreInfo()" (clickOutside)="onClickedOutside($event)">expand_more</i>
                <div class="more_info" *ngIf="moreInfoVisible">

                </div>
            </div>
        </div>
    </div>
</div>