<div>
    <div class="ui-g">
        <div class="ui-g-4" no-padding-top>
            <app-card></app-card>
        </div>
        <div class="ui-g-4" no-padding-top>
            <app-card [background]="'#28a745'"></app-card>
        </div>
        <div class="ui-g-4" no-padding-top>
            <app-card [background]="'#dc3545'"></app-card>
        </div>
        <div class="ui-g-4" no-padding-top>
            <app-card [background]="'#17a2b8'"></app-card>
        </div>
        <div class="ui-g-4" no-padding-top>
            <app-card [background]="'#343a40'"></app-card>
        </div>
        <div class="ui-g-4" no-padding-top>
            <app-card [background]="'#6c757d'"></app-card>
        </div>
    </div>
</div>